@import '../style/colors.scss';

#container {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;

  svg {
    background-color: black;

    circle {
      fill: white;
      stroke: none;
    }
    path {
      fill: none;
      stroke: grey;
    }
  }
}
