/*
Current color scheme

Using ColorBrewer schemes:
http://colorbrewer2.org/#type=qualitative&scheme=Dark2&n=8
http://colorbrewer2.org/#type=qualitative&scheme=Pastel2&n=8
*/

$White: #F7F7F7;
$LightestGrey: #D9D9D9;
$LightGrey: #BDBDBD;
$Grey: #969696;
$DarkGrey: #737373;
$DarkestGrey: #525252;
$Black: #252525;

$DarkTeal: #1B9E77;
$DarkOrange: #D95F02;
$DarkPurple: #7570B3;
$DarkPink: #E7298A;
$DarkGreen: #66A61E;
$DarkYellow: #E6AB02;
$DarkBrown: #A6761D;

$LightTeal: #B3E2CD;
$LightOrange: #FDCDAC;
$LightPurple: #CBD5E8;
$LightPink: #F4CAE4;
$LightGreen: #E6F5C9;
$LightYellow: #FFF2AE;
$LightBrown: #F1E2CC;

/*
Color meanings:
*/

$darkTextColor: $Black;
$lightTextColor: $White;
$linkColor: $DarkPurple;
$errorColor: $DarkPink;

$selectionDarkColor: $DarkTeal;
$selectionLightColor: $LightTeal;

$pageBackgroundColor: $LightGrey;
$pageHeaderLightColor: $DarkGrey;
$pageHeaderDarkColor: $Black;

$darkUiColor: $DarkGrey;
$lightUiColor: $LightestGrey;

/*
Function to get the ID of an SVG color-changing filter
*/

@function imgColorFilter($colorValue) {
  @return url(#recolorImageTo + str-slice(inspect($colorValue), 2));
}
