@import '../style/colors.scss';

#container {
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 0em;

  svg {
    background-color: $spaceColor;

    #nodes {
      g {
        circle {
          fill: $starColor;
          stroke: none;
        }

        &.current circle {
          stroke: $currentColor;
          stroke-width: 5px;
        }

        &.neighbor circle {
          stroke: $jumpColor;
          stroke-width: 2px;
        }
      }
    }

    #links {
      g {
        path {
          fill: none;
          stroke: $linkColor;
          stroke-width: 1px;
        }

        &.neighbor path {
          stroke: $jumpColor;
          stroke-width: 2px;
        }
      }
    }

    #neighbors {
      g {
        circle {
          fill: rgba($spaceColor, 0.75);
        }
        text {
          fill: $jumpColor;
        }
      }
    }
  }
}
